@{
    ViewBag.Title = "ReplyR";
}
@{

    Layout = "~/Views/Shared/_LayoutA.cshtml";
}

@using GroceryStore.Models;
<div>

    <h2 style="font-family:'Comic Sans MS';">Reply</h2>
    <center>
        <div style="margin-left:300px;margin-right:300px;">


                <form method="post" action="/Admin/Sent">            
                    <input name="QId" value="@Model.QId" id="2" type="hidden" />
                    <br>
                    <label>@Model.UName</label>
                    <input name="UName" id="2" value="@Model.UName" type="hidden" />
                    <br>
                    <label>@Model.Question</label>
                    <input name="Question" value="@Model.Question" id="3" type="hidden" />
                    <br>
                    <label>Reply:</label>
                    <input name="Reply" id="1" width="100" type="text" />
                    <br>
                    <input name="UId" value="@Model.UId" id="2" type="hidden" />
                    <button type="submit">Send</button>
                 </form>

        </div>
    </center>
</div>